* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Cardo", serif;
  font-size: 19px;
  background: white;
}
body p {
  margin-bottom: 5rem;
  width: auto;
  color: black;
  margin: auto;
  margin-top: 30px;
  line-height: 2rem;
  text-align: center;
  justify-content: center;
  font-size: 21px;
}
@media (max-width: 576px) {
  body p {
    font-size: 16px;
    line-height: 1, 2rem;
  }
}
body header {
  background-color: white;
  box-shadow: 0 0.5rem 1 rem black;
}
body header .log {
  width: 14rem;
  height: 6rem;
}

.btn-wsp {
  animation: bounce 2s ease-in;
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  color: green;
  border-radius: 100px;
  text-align: center;
  font-size: 40px;
  z-index: 100;
}

.btn-wsp:hover {
  color: #08cc19;
  background: greenyellow;
  z-index: 1;
}

.danger {
  color: greenyellow;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid red;
  text-transform: uppercase;
}

footer {
  padding-top: 1rem;
  background-color: black;
  color: white;
}
footer .footer-sm__icons {
  text-align: center;
  padding: 1.5rem 0;
}
footer .footer-sm__icons a i {
  font-size: 2rem;
  margin-left: 2rem;
  color: white;
}
footer .footer-bottom__copyright {
  text-align: center;
  color: grey;
  font-weight: 400;
}
footer .footer-bottom__copyright a {
  color: grey;
  text-decoration: none;
}
footer .footer-bottom__copyright a:hover {
  color: red;
}

.principal__texto1 {
  color: black;
  margin: auto;
  text-align: center;
}

.texto2 {
  text-align: center;
}

.video-novias {
  text-align: center;
  padding-bottom: 5rem;
}

.fondocontacto {
  background-image: url("https://github.com/herman090/HermannZanetti/blob/main/img/bgcontactos.jpg?raw=true");
  background-size: cover;
}

form {
  width: 450;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: 255, 255, 255, 0.4;
}
form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  border: none;
  resize: none;
}
form .button, form .button-clear {
  background: 0, 0, 0, 0.4;
  color: black;
  padding: 10px;
}
form .button-clear {
  background-color: 0, 0, 0, 0.4;
}
form .button:hover, form .button-clear:hover {
  cursor: pointer;
}

#galeria .col-lg-4 {
  padding: 5px;
}
#galeria .col-lg-4 img {
  width: 100%;
  height: 550px;
}
#galeria .col-lg-4 img:hover {
  transform: scale(1.1);
  transition: 1.9s ease;
}

.tittle {
  text-align: center;
  font-size: 40px;
  color: black;
  margin-top: 100px;
  font-weight: 100;
}

.container2 {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 12rem;
}
.container2 .card {
  width: 330px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container2 .card img {
  width: 330px;
  height: 320px;
}
.container2 .card h4 {
  font-weight: 600;
}
.container2 .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container2 .card:hover {
  transform: translate(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
