.bg-contacto {
background-image: url(/img/bgcontactos.jpg);
background-size: cover;
}


form {
    width: 450;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 7px;
    background-color: 255, 255, 255, 0.4;

    input,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        font-size: 17px;
        border: none;
        resize: none;
    }
    .button {
        background: (0, 0, 0, 0.4);
        color: black;
        padding: 10px;
    }
    .button-clear {
        @extend .button;
        background-color: (0, 0, 0, 0.4);
    }
    .button:hover {
        cursor: pointer;
    }
}
