* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background: linear-gradient(to bottom, white, #f6d7a7);
  p {
    margin-bottom: 5rem;
    width: auto;
    color: black;
    margin: auto;
    margin-top: 30px;
    line-height: 2rem;
    text-align: center;
    justify-content: center;
  }

  header {
    background-color: white;
    padding: 0.5rem 0;
    box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 1);

    .btn-wsp {
      position: fixed;
      width: 55px;
      height: 55px;
      line-height: 55px;
      bottom: 30px;
      right: 30px;

      color: green;
      border-radius: 100px;
      text-align: center;
      font-size: 40px;
      z-index: 100;
    }

    .btn-wsp:hover {
      color: rgb(8, 204, 25);
      background: greenyellow;
      z-index: 1;
    }
  }
  footer {
    padding-top: 1rem;
    background-color: black;
    color: white;

    .footer-sm__icons {
      text-align: center;
      padding: 1.5rem 0;

      a {
        i {
          font-size: 1rem;
          margin-left: 1rem;
          color: white;
        }
      }
    }

    .footer-bottom__copyright {
      text-align: center;
      color: grey;
      font-weight: 400;
      a {
        color: grey;
        text-decoration: none;
      }
      a:hover {
        color: red;
      }
    }
  }
}
