.principal__img {
    max-width: 100%;
  }
  
  .principal__texto1 {
    color: black;
    margin: auto;
    text-align: center;
  }
  .intro__section {
    padding: 2rem 0;
  }
  
  .texto2 {
    text-align: center;
  }
  .video-novias {
    text-align: center;
    padding-bottom: 5rem;
  }
  